TestShared/calculator.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
    xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
    xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap12/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:tns="http://calculator.example.org/"
    xmlns:binp="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1"
    xmlns:httpp="http://schemas.microsoft.com/ws/06/2004/policy/http"
    targetNamespace="http://calculator.example.org/">

    <!-- Policy for SSL security on transport: -->
    <wsp:Policy wsu:Id="ssl-pol">
        <wsp:ExactlyOne>
            <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
                <wsp:Policy>
                    <sp:TransportToken>
                        <wsp:Policy>
                            <sp:HttpsToken RequireClientCertificate="false" />
                        </wsp:Policy>
                    </sp:TransportToken>
                    <sp:AlgorithmSuite>
                        <wsp:Policy>
                            <sp:Basic256 />
                        </wsp:Policy>
                    </sp:AlgorithmSuite>
                    <sp:Layout>
                        <wsp:Policy>
                            <sp:Strict />
                        </wsp:Policy>
                    </sp:Layout>
                    <sp:IncludeTimestamp />
                </wsp:Policy>
            </sp:TransportBinding>
        </wsp:ExactlyOne>
    </wsp:Policy>

    <!-- Policy for HTTP header authentication with SSL security on transport: -->
    <wsp:Policy wsu:Id="http-header-auth-ssl-pol">
        <wsp:ExactlyOne>
            <wsp:All>
                <httpp:NegotiateAuthentication />
                <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
                    <wsp:Policy>
                        <sp:TransportToken>
                            <wsp:Policy>
                                <sp:HttpsToken RequireClientCertificate="false" />
                            </wsp:Policy>
                        </sp:TransportToken>
                        <sp:AlgorithmSuite>
                            <wsp:Policy>
                                <sp:Basic256 />
                            </wsp:Policy>
                        </sp:AlgorithmSuite>
                        <sp:Layout>
                            <wsp:Policy>
                                <sp:Strict />
                            </wsp:Policy>
                        </sp:Layout>
                        <sp:IncludeTimestamp />
                    </wsp:Policy>
                </sp:TransportBinding>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>

    <!-- Types of requests: -->
    <wsdl:types>
        <xsd:schema elementFormDefault="qualified" targetNamespace="http://calculator.example.org/">

            <xsd:complexType name="EmptyRequest">
            </xsd:complexType>

            <xsd:complexType name="MultipurposeSingleIntegerResponse">
                <xsd:sequence>
                    <xsd:element name="result" type="xsd:integer" />
                </xsd:sequence>
            </xsd:complexType>

            <xsd:element name="CloseServiceRequest" type="tns:EmptyRequest" />
            <xsd:element name="CloseServiceResponse" type="tns:MultipurposeSingleIntegerResponse" />

            <xsd:complexType name="BinaryOpRequest">
                <xsd:sequence>
                    <xsd:element name="first" type="xsd:double" />
                    <xsd:element name="second" type="xsd:double" />
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="OperationResponse">
                <xsd:sequence>
                    <xsd:element name="result" type="xsd:double" />
                </xsd:sequence>
            </xsd:complexType>

            <xsd:element name="AdditionRequest" type="tns:BinaryOpRequest" />
            <xsd:element name="AdditionResponse" type="tns:OperationResponse" />

            <xsd:element name="MultiplicationRequest" type="tns:BinaryOpRequest" />
            <xsd:element name="MultiplicationResponse" type="tns:OperationResponse" />

        </xsd:schema>
    </wsdl:types>

    <!-- Definition of service messages: -->

    <wsdl:message name="AdditionRequestMessage">
        <wsdl:part name="parameters" element="tns:AdditionRequest" />
    </wsdl:message>

    <wsdl:message name="AdditionResponseMessage">
        <wsdl:part name="parameters" element="tns:AdditionResponse" />
    </wsdl:message>

    <wsdl:message name="MultiplicationRequestMessage">
        <wsdl:part name="parameters" element="tns:MultiplicationRequest" />
    </wsdl:message>

    <wsdl:message name="MultiplicationResponseMessage">
        <wsdl:part name="parameters" element="tns:MultiplicationResponse" />
    </wsdl:message>

    <wsdl:message name="CloseServiceRequestMessage">
        <wsdl:part name="parameters" element="tns:CloseServiceRequest" />
    </wsdl:message>

    <wsdl:message name="CloseServiceResponseMessage">
        <wsdl:part name="parameters" element="tns:CloseServiceResponse" />
    </wsdl:message>

    <!-- The web service interface: -->
    <wsdl:portType name="CalculatorInterface">
        <wsdl:operation name="Add">
            <wsdl:input message="tns:AdditionRequestMessage" />
            <wsdl:output message="tns:AdditionResponseMessage" />
        </wsdl:operation>
        <wsdl:operation name="Multiply">
            <wsdl:input message="tns:MultiplicationRequestMessage" />
            <wsdl:output message="tns:MultiplicationResponseMessage" />
        </wsdl:operation>
        <wsdl:operation name="CloseService">
            <wsdl:input message="tns:CloseServiceRequestMessage" />
            <wsdl:output message="tns:CloseServiceResponseMessage" />
        </wsdl:operation>
    </wsdl:portType>

    <!-- Interface binding: SSL over HTTP with header authentication -->
    <wsdl:binding name="CalcBindingHeaderAuthSSL" type="tns:CalculatorInterface">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsp:PolicyReference URI="#http-header-auth-ssl-pol" />
        <wsdl:operation name="Add">
            <soap:operation soapAction="http://calculator.example.org/Add" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="Multiply">
            <soap:operation soapAction="http://calculator.example.org/Multiply" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="CloseService">
            <soap:operation soapAction="http://calculator.example.org/Close" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <!-- Interface binding: SSL over HTTP -->
    <wsdl:binding name="CalcBindingSSL" type="tns:CalculatorInterface">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsp:PolicyReference URI="#ssl-pol" />
        <wsdl:operation name="Add">
            <soap:operation soapAction="http://calculator.example.org/Add" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="Multiply">
            <soap:operation soapAction="http://calculator.example.org/Multiply" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="CloseService">
            <soap:operation soapAction="http://calculator.example.org/Close" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <!-- Interface binding: HTTP without security -->
    <wsdl:binding name="CalcBindingUnsecure" type="tns:CalculatorInterface">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="Add">
            <soap:operation soapAction="http://calculator.example.org/Add" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="Multiply">
            <soap:operation soapAction="http://calculator.example.org/Multiply" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="CloseService">
            <soap:operation soapAction="http://calculator.example.org/Close" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <!-- The service endpoints: -->
    <wsdl:service name="CalculatorService">
        <wsdl:port name="CalculatorEndpointHeaderAuthSSL" binding="tns:CalcBindingHeaderAuthSSL">
            <soap:address location="https://TARS:8888/calculator"/>
        </wsdl:port>
        <wsdl:port name="CalculatorEndpointSSL" binding="tns:CalcBindingSSL">
            <soap:address location="https://TARS:8989/calculator"/>
        </wsdl:port>
        <wsdl:port name="CalculatorEndpointUnsecure" binding="tns:CalcBindingUnsecure">
            <soap:address location="http://TARS:81/calculator"/>
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>